{
    "presets": ["flow"],

    "plugins": [
        "transform-class-properties",
        "transform-es2015-modules-commonjs",
        "transform-object-rest-spread"
    ],

    "env" : {
        "ASYNC_POLYFILL" : {
            "plugins" : [
                "transform-inline-environment-variables",
                "transform-async-to-generator",
            ]
        }
    }
}
